<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<header>
  <%- include('../partials/navbar'); %>
</header>

<main>
    <div class="login">
        <h1>Sign Up</h1>
        <form action="/new_user" method="post">
            <label for="username">
                <i class="fas fa-envelope"></i>
            </label>
            <input type="text" name="email" placeholder="Email" id="email" required>
            
            <label for="username">
                <i class="fas fa-user"></i>
            </label>
            <input type="text" name="username" placeholder="Username" id="username" required>

            <label for="password">
                <i class="fas fa-lock"></i>
            </label>
            <input type="text" name="password" placeholder="Password" id="password" required>

            <label for="password">
                <i class="fas fa-lock"></i>
            </label>
            <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
        
            <input type="submit" value="Create Account">
        </form>
    </div>
</main>

</body>
</html>